/*
colors from solarized
https://github.com/altercation/solarized
*/

/* light mode */
:root {
	--bg-color: #fdf6e3;
	--sec-bg-color: #eee8d5;
	--text-color: #657b83;

	/* these stay the same */
	--blue: #268bd2;
	--bg-light: rgba(255, 255, 255, 0.20);
	--bg-shadow: rgba(0, 0, 0, 0.15);
	--outer-light: rgba(255, 255, 255, 0.3);
	--outer-shadow: rgba(0, 0, 0, 0.35);
	--content-width: 70%;
	--columns: 3;
}

[data-theme="dark"] {
	--bg-color: #002b36;
	--sec-bg-color: #073642;
	--text-color: #839496;
}

@media (max-width: 1200px) {
	:root {
		--content-width: 90%;
	}
}

@media (max-width: 1000px) {
	:root {
		--columns: 2;
	}
}

@media (max-width: 600px) {
	:root {
		--columns: 1;
	}
}

@font-face {
	font-family: "Scheherazade New Bold";
	src: url("/static/ScheherazadeNew-Bold.ttf");
}

@font-face {
	font-family: "Lato Regular";
	src: url("/static/Lato-Regular.ttf");
}

* {
	transition: background-color 0.5s, color 0.5s;
}

body {
	background: var(--bg-color);
	color: var(--text-color);
	font-family: "Lato Regular", sans-serif;
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

a {
	color: var(--text-color);
	text-decoration: none;
}

.link {
	color: var(--blue);
}
.link:hover {
	text-decoration: underline;
}

.shiny {
	background: linear-gradient(-45deg, var(--bg-shadow), var(--bg-light));
}

.convex {
	box-shadow: 0.5rem 0.5rem 1rem var(--outer-shadow),
		-0.5rem -0.5rem 1rem var(--outer-light);
}

nav {
	background: var(--sec-bg-color);
	display: flex;
	justify-content: center;
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

.nav-inner {
	display: flex;
	justify-content: space-between;
	flex-basis: var(--content-width);
	align-items: center;
}

.logo {
	font-family: "Scheherazade New Bold", serif;
	font-size: 2rem;
}

footer {
	background: var(--sec-bg-color);
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	column-gap: 1ch;
	padding: 0.8rem;
	margin-top: auto;
}

#dark-mode-toggle {
	user-select: none;
	width: 3rem;
	height: 3rem;
	border: none;
	border-radius: 50%;
	font-size: inherit;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem;
}

.content {
	width: var(--content-width);
	margin-top: 3rem;
	margin-bottom: 3rem;
	margin-left: auto;
	margin-right: auto;
}

.channel-list {
	display: grid;
	grid-template-columns: repeat(var(--columns), 1fr);
	gap: 3em;
}

.channel-card {
	border-radius: 1.5rem;
	padding: 1rem;
}

.channel-icon {
	width: 6rem;
}

.channel-video {
	width: 100%;
}
