<html data-theme="{{ request.cookies.get('theme') }}"> 
	<head>
		<title>{% block title %}{% endblock %} - well played</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<meta name="viewport" content="width=device-width,initial-scale=1">
	</head>
	<body>
		<nav class="shiny convex">
			<div class="nav-inner">
				<a class="logo" href="/">well played</a>
				<button id="dark-mode-toggle" class="convex shiny">
					{% if request.cookies.get('theme') == 'dark' %}
					🌙
					{% else %}
					☀️
					{% endif %}
				</button>
			</div>
		</nav>

		{% block content %}{% endblock %}

		<footer class="shiny convex">
			<div>well played to wolne oprogramowanie.</div>
			<a class="link" href="https://gitlab.com/barteloniu/well-played">kod źródłowy</a>
		</footer>
		<script src="{{ url_for('static', filename='script.js') }}"></script>
	</body>
</html>
