{% extends 'base.html' %}

{% block title %}Strona główna{% endblock %}

{% block content %}
<div class="channel-list content">

	{% for c in channels %}
	<a class="channel-card convex shiny" href="/watch/{{ c['info']['slug'] }}">
		<img class="channel-icon" src="{{ c['info']['icon'] }}">
		<div class="channel-name">{{ c['info']['name'] }}</div>
		<div class="channel-guide">🔴 {{ c['guide'][0]['title'] }}</div>
		<div class="channel-guide">⏭️ {{ c['guide'][1]['title'] }}</div>
	</a>
	{% endfor %}

</div>
{% endblock %}
