{% extends 'base.html' %}

{% block title %} {{ channel_name }} {% endblock %}

{% block content %}
<div class="content">
	{% if channel == None %}
	<h1>nie znaleziono kanału</h1>
	{% else %}
	<video data-dashjs-player autoplay controls class="channel-video" src="/api/channel/{{ channel['slug'] }}/manifest.mpd"></video>
	<script src="http://cdn.dashjs.org/latest/dash.all.min.js"></script>
	{% endif %}
</div>
{% endblock %}
